---
layout: single
---

<h1>About</h1> 

<p>Hi! I am currently a research scientist at the Visualization and Data Analytics Research Center (<a href="https://vida.engineering.nyu.edu/">VIDA</a>) 
    at New York University (<a href="https://www.nyu.edu/">NYU</a>), under the supervision of professor <a href="https://ctsilva.github.io/">Claudio Silva</a>.</p>

<p>In 2023, I concluded my M.S. in Mathematical Modelling at the School of Applied Mathematics (<a href="https://emap.fgv.br/">EMAp</a>) of 
    Fundação Getulio Vargas (<a href="https://portal.fgv.br/">FGV</a>). 
    I was part of the Visual Data Science Lab (<a href="http://www.visualdslab.com/">V-DS</a>) and worked with Professors 
    <a href="https://vgc.poly.edu/~jpocom/">Jorge Poco</a> and <a href="https://ic.unicamp.br/~mraimundo/">Marcos M. Raimundo</a> 
    (from <a href="https://ic.unicamp.br/en/">Unicamp</a>). 
    I obtained my B.S. in Applied Mathematics from FGV/EMAp in 2020 also under the supervision of Jorge Poco and Marcos M. Raimundo. </p>

<p>My current research focuses on visualization systems for Explainable AI and Topological Data Analysis. 
    I previously researched Multi-Objective Machine Learning and the development of Fair ML models.</p>

<p>As part of my professional life, I worked with Mathematical Optimization and Computer Vision. 
    For more information about my background, visit my <a href="/cv/">curriculum</a>.</p>

<h2>Interests</h2>

<ul>
    <li>Machine Learning</li>
    <li>Explainable AI</li>
    <li>AI Ethics</li>
    <li>Topological Data Analysis</li>
    <li>Optimization</li>
  </ul> 

<p><i>Last update: Oct 28, 2023</i></p>